body {
    background: #fafafa;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

.container {
    width: 1166px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-logo { 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    align-items: center;
    margin-right: 413px;
}

.header-logo-span {
    font-style: italic;
}

.header-menu-list {
    display: flex;
    gap: 24px;
}

.header-menu-list-item {
}

.header-menu-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #111;
    padding: 4px 0;
}

.header-menu-social-links {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 90px;
}

.header-menu-list-social-links {}

.hero {}

.hero-container{}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.hero-made-btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.hero-down-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #fff;
}

.benefits-title {}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}