body {
    background: #fafafa;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

.container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** ==============HEADER================ */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #111;
}

.header-logo-span {
    font-style: italic;
}

.header-menu-list {
    display: none;
}

.header-menu-social-links {
    display: none;
}

.header-menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

/** ============================== */

/** ==============FIRST SECTION================ */

.hero-wrap {
    width: 100%;
    height: 621px;
    padding: 395px 20px 20px 20px;
    background: #1e1823;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/heromob@1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 375px),
screen and (min-resolution: 192dpi) and (min-width: 375px),
screen and (min-resolution: 2dppx) and (min-width: 375px) {
    .hero-wrap {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/heromob@2x.jpg);
    }
}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 32px;
}

.btn-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 32px;
}

.hero-btn {
    border-radius: 100px;
    padding: 12px 28px;
    border: none;
    cursor: pointer;
    background: #fd9222;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #fcf1e0;
    color: #fd9222;
    border: none;
}

.hero-made-btn {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-btn:hover,
.hero-made-btn:focus {
    color: #fd9222;
    border: 1px solid #fd9222;
}

.hero-down-btn-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-down-btn-text:hover,
.hero-down-btn-text:focus {
    color: #fd9222;
}

.hero-down-btn {
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-down-btn-icon {
    fill: #fd9222;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-down-btn:hover,
.hero-down-btn:focus {
    background-color: #fd9222;
    border: none;
}

.hero-down-btn:hover>.hero-down-btn-icon,
.hero-down-btn:focus>.hero-down-btn-icon {
    fill: #fff;
}

/** ============================== */

/** ==============BENEFITS SECTION================ */

.benefits-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1e1823;
}

.benefits-wrap {
    padding: 0px 28px 0px 0px;
    width: 336px;
    margin-bottom: 20px;
}

.benefits-icon-wrap {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.benefits-icon {
    fill: #fd9222;
}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/** ============================== */

/** ==============TASTE SECTION================ */

.taste-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ingridients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 283px;
    margin: 0 auto 27px;
}

.ingridients-part-title {
    color: #fd9222;
}

.ingridients-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choco-img-wrap {
    position: relative;
    border-radius: 15px;
    width: 335px;
    height: 270px;
    background: #fd9222;
    padding: 32px 28px;
}

.btn-choco {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fafafa;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choco-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.milk-img-wrap {
    position: relative;
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 335px;
    height: 270px;
    background: #fff;
    padding: 32px 28px;
}

.btn-milk {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fd9222;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.milk-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.nuts-img-wrap {
    position: relative;
    border-radius: 15px;
    width: 335px;
    height: 270px;
    background: #1e1823;
    padding: 32px 28px;
}

.btn-nuts {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fafafa;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuts-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

.drops-img-wrap {
    position: relative;
    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 335px;
    height: 270px;
    background: #fff;
    padding: 32px 28px;
}

.btn-drops {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fd9222;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drops-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.ingredients-item {
    margin: 0 auto;
    margin-bottom: 16px;
}


.ingridients-text {
    display: none;
}

.ingridients-list-image {
    display: none;
}


.gallery {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 20px;
    padding: 100px 156px;
    width: 1440px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery-image {
    display: flex;
    width: 360px;
    height: 200px;
}